/*Верхняя стрелка*/
.scrollUp
 {
  width: 24px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  border-radius: 3px;
  background: #AAAAAA;
}
 .scrollUp:hover 
 {
  background: #888888;
 }
.scrollUp::after {
  position: absolute;
  left: 4px;
  top: 4px;
  color:#000000;
  content: '▲';
}
.scrollUp:active { 
background:#DDDDDD;
}
.scrollUp:active::after { 
  left: 7px;
  top: 5px;
  content: '●';
}
/*Нижняя стрелка*/
.scrollDown
 {
  width: 24px;
  height: 28px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
  border-radius: 3px;
  background: #AAAAAA;
}
 .scrollDown:hover
 {
  background: #888888;
 }
.scrollDown::after {
  position: absolute;
  left: 4px;
  top: 4px;
  color:#000000;
  content: '▼';
}
.scrollDown:active { 
background:#DDDDDD;
}
.scrollDown:active::after { 
  left: 7px;
  top: 2px;
  content: '●';
}

 .scroller
 {
  width: 24px;
  height: 24px;
  position: relative;
  left: 0px;
  top: 28px;
  cursor: pointer;
  background:#000000;
  border-radius: 3px;
 }
 .scroller:hover
 {
  background: #888888;
 }
.scroller:active { 
background:#DDDDDD;
}

 
 .scrollBody
 {
  width: 24px;
  min-height: 100%;
  cursor: pointer;
}
 
 .scrollBox
 {
  float: right;
  width: 24px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #555555;
  opacity: 1; //прозрачность
 }